<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩管理系统</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />

    <script>

        function changeSpecialty(schoolSelectId, specialtySelectId) {
            var schoolSelect = document.getElementById(schoolSelectId);
            var specialtySelect = document.getElementById(specialtySelectId);

            // 清空专业班级选项
            specialtySelect.innerHTML = "";

            // 根据所选学院修改专业班级选项
            switch (schoolSelect.value) {
                case "计算机与信息工程学院":
                    var specialties = [
                        "计算机科学与技术1班", "计算机科学与技术2班", "计算机科学与技术3班",
                        "数据科学与大数据技术1班", "数据科学与大数据技术2班", "数据科学与大数据技术3班",
                        "电子信息工程1班", "电子信息工程2班", "电子信息工程3班",
                        "电子商务1班", "电子商务2班", "电子商务3班",
                        "软件工程1班", "软件工程2班", "软件工程3班",
                        "网络安全1班", "网络安全2班", "网络安全3班"
                    ];
                    break;

                case "金融学院":
                    var specialties = [
                        "投资学1班", "投资学2班", "投资学3班",
                        "保险学1班", "保险学2班", "保险学3班",
                        "金融工程1班", "金融工程2班", "金融工程3班",
                        "金融学1班", "金融学2班", "金融学3班"
                    ];
                    break;

                default:
                    // 如果需要添加“不限”选项，并且不是针对id="specialtySelect2"
                    if (specialtySelectId !== 'specialtySelect2') {
                        var option = document.createElement("option");
                        option.text = "不限";
                        option.value = "";
                        specialtySelect.add(option);
                    }
                    break;
            }

            // 添加专业选项到specialtySelect
            specialties.forEach(function(specialty) {
                var option = document.createElement("option");
                option.text = specialty;
                option.value = specialty;
                specialtySelect.add(option);
            });
        }

        // 不修改按钮点击事件处理函数
        function handleNoModify() {
            window.location.href = "/score_infos";
        }


        function showModifyForm(event) {
            event.preventDefault(); // 阻止第一个表单的默认提交行为

            // 显示第二个表单中的文本框所在的div
            var modifyForm = document.getElementById('modify-form');
            modifyForm.style.display = 'block';

            // 获取第一个表单中的stu_id值
            var stuId = document.getElementById('modifyForm').querySelector('input[name="stu_id"]').value;
            var courseName = document.getElementById('modifyForm').querySelector('input[name="course_name"]').value;

            // 将stu_id的值设置到第二个表单的隐藏字段中
            var stuIdHidden = document.getElementById('stu_id_hidden');
            var courseNameHidden = document.getElementById('course_name_hidden');
            if (stuIdHidden && courseNameHidden) {
                stuIdHidden.value = stuId;
                courseNameHidden.value = courseName;
            } else {
                console.error('无法找到stu_id的隐藏字段');
            }
        }

        function calculateFinalScore() {
            // 获取卷面成绩和平时成绩的输入框元素
            var testScoreInput = document.getElementById("test_score");
            var usualScoreInput = document.getElementById("usual_score");
            var finalScoreInput = document.getElementById("final_score");

            // 获取卷面成绩和平时成绩的值，并转换为数字类型
            var testScore = parseFloat(testScoreInput.value);
            var usualScore = parseFloat(usualScoreInput.value);

            // 计算最终成绩（70%卷面成绩 + 30%平时成绩）
            var finalScore = (0.7 * testScore) + usualScore;

            // 将计算结果填充到最终成绩输入框中
            finalScoreInput.value = finalScore.toFixed(2); // 将结果保留两位小数并填充到输入框中
        }


        function validateInput(input) {
            // 获取输入框的值
            var value = input.value;

            // 如果值不是整数，则清除输入框中的非法字符
            if (!Number.isInteger(parseInt(value))) {
                input.value = value.replace(/[^\d]/g, '');
            }
        }


    </script>
</head>

<body>
    <div class="container">
        <div class="header">
            <span class="left">汉 东 大 学 学 生 信 息 管 理 系 统</span>
            <span class="right">你 好，{{user_info}}管 理 员!</span>
            <span class="right_right"><a href="/">退出登陆</a></span>
        </div>
        <div class="leftside">
        <ul>
            <li><a href="/student_view">学生信息查询</a></li>
            <li><a href="/student">学生信息录入</a></li>
            <li><a href ="/update_student">学生信息删改</a></li>
            <li><a href="/teacher_class">老师开设课程查看</a></li>
            <li><a href="/student_courses">学生选课管理</a></li>
            <li class="first"><a href="score_infos">学生成绩</a></li>
            <li><a href="/graduation">毕业学生去向</a></li>
            <li><a href="/dataAnalysis">数据分析</a></li>
            <li><a href="/adminstator">系统管理员变动</a></li>
        </ul>
        </div>
        <div class="container-fluid">
            <h1 class="sub-header center">成 绩 录 入 系 统</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <!-- 查询结果展示 -->
                    {% if query_conditions or query_results %}
                    <table class="table table-striped student-table">
                        <!-- 表头 -->
                        <thead>
                            <tr>
                                <th style="width: 10%;">学号</th>
                                <th style="width: 6%;">年级</th>
                                <th style="width: 6%;">姓名</th>
                                <th style="width: 4%;">性别</th>
                                <th style="width: 14%;">学院</th>
                                <th style="width: 14%;">专业班级</th>
                                <th style="width: 12%;">课程名称</th>
                                <th style="width: 6%;">卷面成绩</th>
                                <th style="width: 6%;">平时成绩</th>
                                <th style="width: 6%;">最终成绩</th>
                                <th style="width: 6%;">授课老师</th>
                                <th style="width: 6%;">操作</th>
                            </tr>
                        </thead>
                        <!-- 查询结果展示 -->
                        {% if query_results %}
                        <!-- 遍历查询结果 -->
                        {% for result in query_results %}
                        <tr>
                            <!-- 列数据 -->
                            <td>{{ result[0] }}</td>
                            <td>{{ result[1] }}</td>
                            <td>{{ result[2] }}</td>
                            <td>{{ result[3] }}</td>
                            <td>{{ result[4] }}</td>
                            <td>{{ result[5] }}</td>
                            <td>{{ result[6] }}</td>
                            <td>{{ result[7] }}</td>
                            <td>{{ result[8] }}</td>
                            <td>{{ result[9] }}</td>
                            <td>{{ result[10] }}</td>
                            <td>
                                <!-- 修改按钮 -->
                                <form id="modifyForm" action="/modify_score" method="post" style="display: inline-block; margin-right: 5px;">
                                    <input type="hidden" name="stu_id" value="{{ result[0] }}">
                                    <input type="hidden" name="course_name" value="{{ result[6] }}">
                                    <input type="submit" value="确认录入" class="btn-modify" onclick="showModifyForm(event)">
                                </form>
                                <form action="/score_infos" method="post" onsubmit="return false;">
                                    <input type="submit" value="放弃录入" class="btn-delete" onclick="handleNoModify()">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <!-- 如果查询结果为空 -->
                        <p style="color: red; font-weight: bold;">抱歉，系统中没有找到符合您要求的结果！</p>
                        {% endif %}
                    </table>
                    {% endif %}
                    <form action="/modify_score" method="post">
                        <div id="modify-form" style="display: none;">
                            <div class="form-group">
                                <div class="form-row">
                                    <label class="name-label start-label" for="test_score">卷面成绩：</label>
                                    <input class="long college-label start-label" type="text"
                                           id="test_score" name="test_score" placeholder="请输入卷面成绩" onblur="calculateFinalScore()">
                                </div>
                                <div class="form-row">
                                    <label class="name-label start-label" for="usual_score">平时成绩：</label>
                                    <input class="long college-label start-label" type="text"
                                           id="usual_score" name="usual_score" placeholder="请输入平时成绩" onblur="calculateFinalScore()">
                                </div>
                                <div class="form-row">
                                    <label for="final_score">最终成绩：</label>
                                    <input type="text" class="long"
                                           id="final_score" name="final_score" placeholder="请输入最终成绩">
                                </div>
                            </div>
                            <div>
                                <input type="hidden" name="stu_id" id="stu_id_hidden">
                                <input type="hidden" name="course_name" id="course_name_hidden">
                                <input class="submit-btn-right" type="submit" value="提交">

                            </div>
                        </div>
                    </form>
                </table>
            </div>
        </div>
    </div>
</body>

</html>