<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩管理系统</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <span class="left">汉 东 大 学 学 生 信 息 管 理 系 统</span>
            <span class="right">你 好，{{user_info}}同学！</span>
            <span class="right_right"><a href="/">退出登陆</a></span>
        </div>
        <div class="leftside">
        <ul>
            <li><a href="/stu_baseInfo">学生基本信息查看</a></li>
            <li><a href="/stu_courses">学生选课管理</a></li>
            <li class="first"><a href="/stu_score">个人成绩查看</a></li>
            <li><a href="/stu_terCourse">老师开设课程查看</a></li>
            <li><a href="/stu_Users">账号密码修改</a></li>
        </ul>
        </div>
        <div class="container-fluid">
            <h1 class="sub-header center">学 生 成 绩 查 询 系 统</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <form action="" method="post">
                        <thead>
                            <tr>
                                <th>查看个人专业课成绩：</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="last" type="submit" value="查询" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </tbody>
                    </form>
                    <!-- 查询结果展示 -->
                    {% if query_conditions or query_results %}
                    <table class="table table-striped student-table">
                        <!-- 表头 -->
                        <thead>
                            <tr>
                                <th style="width: 10%;">学号</th>
                                <th style="width: 6%;">年级</th>
                                <th style="width: 6%;">姓名</th>
                                <th style="width: 4%;">性别</th>
                                <th style="width: 14%;">学院</th>
                                <th style="width: 14%;">专业班级</th>
                                <th style="width: 12%;">课程名称</th>
                                <th style="width: 6%;">卷面成绩</th>
                                <th style="width: 6%;">平时成绩</th>
                                <th style="width: 6%;">最终成绩</th>
                                <th style="width: 6%;">授课老师</th>
                            </tr>
                        </thead>
                        <!-- 查询结果 -->
                        {% if query_conditions %}
                        <!-- 查询条件展示 -->
                        <p style="font-weight: bold; font-size: 18px;">查询条件：</p>
                        <ul>
                            {% for condition in query_conditions %}
                            <li>{{ condition }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!-- 查询结果展示 -->
                        {% if results %}
                        <p></p>
                        <p style="color: black; font-weight: bold; font-size: 18px;">你的成绩为：</p>
                        <!-- 遍历查询结果 -->
                        {% for result in results %}
                        <tr>
                            <!-- 列数据 -->
                            <td>{{ result[0] }}</td>
                            <td>{{ result[1] }}</td>
                            <td>{{ result[2] }}</td>
                            <td>{{ result[3] }}</td>
                            <td>{{ result[4] }}</td>
                            <td>{{ result[5] }}</td>
                            <td>{{ result[6] }}</td>
                            <td>{{ result[7] }}</td>
                            <td>{{ result[8] }}</td>
                            <td>{{ result[9] }}</td>
                            <td>{{ result[10] }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <!-- 如果查询结果为空 -->
                        <p style="color: red; font-weight: bold;">抱歉，系统中没有找到符合您要求的结果！</p>
                        {% endif %}
                    </table>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</body>

</html>