<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>学生成绩管理系统登陆</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/studentLogin.css"/>
</head>

<body>
    <div id="maxbox">
        <h1>学生信息管理系统（学生版）</h1>
        <h2 >请登录</h2>
        <div class="inputbox">
            <form name="frm" action="" method="post">
                <div class="inputText">
                    <span class="iconfont icon-mine"></span>
                    <input class="username" type="text" placeholder="用户名" name="user" style="color:white" />
                </div>
                <div class="inputText">
                    <span class="iconfont icon-lock"></span>
                    <input type="password" placeholder="密码" name="pwd" style="color:white" />
                    <br>
                </div>
                <input class="inputButton" type="submit" value="登 录" />

                <!-- 增大行间距 -->
                <div style="height: 20px;"></div>
                <!-- 添加切换按钮 -->
                <form action="/switch" method="get">
                    <a href="/" class="list-group-item switch-link">切换到管理员端</a>
                </form>

            </form>

            <script>
                var images = [
                    '../static/images/002.jpg',
                    '../static/images/003.jpg',
                    '../static/images/004.jpg',
                    '../static/images/005.jpg',
                    '../static/images/006.jpg',
                    '../static/images/007.jpg',
                    '../static/images/008.jpg',
                    '../static/images/009.jpg',
                    '../static/images/010.jpg',
                    '../static/images/001.jpg'
                ];
                var currentImageIndex = 0;
                var body = document.body;
                var preloadedImages = [];

                // 预加载图片
                function preloadImages() {
                    for (var i = 0; i < images.length; i++) {
                        var img = new Image();
                        img.src = images[i];
                        preloadedImages.push(img);
                    }
                }
                preloadImages();

                function changeBackground() {
                    var newImageIndex = (currentImageIndex + 1) % images.length;
                    var newImage = images[newImageIndex];

                    // 设置新的背景图片
                    body.style.transition = 'background-image 2s ease-in-out';
                    body.style.backgroundImage = 'url(' + newImage + ')';

                    // 更新图片索引
                    currentImageIndex = newImageIndex;
                }

                // 每5秒切换一次背景图片
                setInterval(changeBackground, 5000);
            </script>
        </div>
    </div>
</body>

</html>

