<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩管理系统</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />

    <script>
        function changeSpecialty() {
            var schoolSelect = document.getElementById("schoolSelect");
            var specialtySelect = document.getElementById("specialtySelect");

            // 清空专业班级选项
            specialtySelect.innerHTML = "";

            // 添加“不限”选项
            var option = document.createElement("option");
            option.text = "不限";
            option.value = "";
            specialtySelect.add(option);

            // 根据所选学院修改专业班级选项
            switch (schoolSelect.value) {
                case "计算机与信息工程学院":
                    var specialties = [
                        "计算机科学与技术1班", "计算机科学与技术2班", "计算机科学与技术3班",
                        "数据科学与大数据技术1班", "数据科学与大数据技术2班", "数据科学与大数据技术3班",
                        "电子信息工程1班", "电子信息工程2班", "电子信息工程3班",
                        "电子商务1班", "电子商务2班", "电子商务3班",
                        "软件工程1班", "软件工程2班", "软件工程3班",
                        "网络安全1班", "网络安全2班", "网络安全3班"
                    ];
                    break;

                case "管理学院":
                    var specialties = [
                        "物流工程1班", "物流工程2班", "物流工程3班",
                        "物联网工程1班", "物联网工程2班", "物联网工程3班",
                        "物流管理市场营销1班", "物流管理市场营销2班", "物流管理市场营销3班"
                    ];
                    break;

                case "会计学院":
                    var specialties = [
                        "财务管理1班", "财务管理2班", "财务管理3班",
                        "审计学1班", "审计学2班", "审计学3班",
                        "会计学1班", "会计学2班", "会计学3班",
                        "工商管理类1班", "工商管理类2班", "工商管理类3班"
                    ];
                    break;

                case "财政与公共管理学院":
                    var specialties = [
                        "财政学1班", "财政学2班", "财政学3班",
                        "税收学1班", "税收学2班", "税收学3班",
                        "行政管理1班", "行政管理2班", "行政管理3班",
                        "劳动与社会保障1班", "劳动与社会保障2班", "劳动与社会保障3班"
                    ];
                    break;

                case "药学院":
                    var specialties = [
                        "药学1班", "药学2班", "药学3班",
                        "中药学1班", "中药学2班", "中药学3班",
                        "制药工程1班", "制药工程2班", "制药工程3班"
                    ];
                    break;

                case "食品工程学院":
                    var specialties = [
                        "食品科学与工程1班", "食品科学与工程2班", "食品科学与工程3班",
                        "生物工程1班", "生物工程2班", "生物工程3班",
                        "食品质量与安全1班", "食品质量与安全2班", "食品质量与安全3班",
                        "环境工程1班", "环境工程2班", "环境工程3班"
                    ];
                    break;

                case "能源与建筑工程学院":
                    var specialties = [
                        "土木工程1班", "土木工程2班", "土木工程3班",
                        "工程管理1班", "工程管理2班", "工程管理3班",
                        "能源与动力工程1班", "能源与动力工程2班", "能源与动力工程3班",
                        "建筑环境与能源应用工程1班", "建筑环境与能源应用工程2班", "建筑环境与能源应用工程3班",
                        "油气储运工程1班", "油气储运工程2班", "油气储运工程3班"
                    ];
                    break;

                case "金融学院":
                    var specialties = [
                        "投资学1班", "投资学2班", "投资学3班",
                        "保险学1班", "保险学2班", "保险学3班",
                        "金融工程1班", "金融工程2班", "金融工程3班",
                        "金融学1班", "金融学2班", "金融学3班"
                    ];
                    break;

                case "设计艺术学院":
                    var specialties = [
                        "视觉传达设计1班", "视觉传达设计2班", "视觉传达设计3班",
                        "绘画1班", "绘画2班", "绘画3班",
                        "环境设计1班", "环境设计2班", "环境设计3班",
                        "产品设计1班", "产品设计2班", "产品设计3班"
                    ];
                    break;

                case "轻工学院":
                    var specialties = [
                        "机械自动化1班", "机械自动化2班", "机械自动化3班",
                        "工业工程1班", "工业工程2班", "工业工程3班",
                        "包装工程1班", "包装工程2班", "包装工程3班",
                        "机器人工程1班", "机器人工程2班", "机器人工程3班",
                        "印刷工程1班", "印刷工程2班", "印刷工程3班"
                    ];
                    break;
                case "经济学院":
                    var specialties = [
                        "统计学1班", "统计学2班", "统计学3班",
                        "经济与贸易1班", "经济与贸易2班", "经济与贸易3班",
                        "国际经济与贸易1班", "国际经济与贸易2班", "国际经济与贸易3班"
                    ];
                    break;

                case "外语学院":
                    var specialties = [
                        "英语1班", "英语2班", "英语3班",
                        "俄语1班", "俄语2班", "俄语3班",
                        "商务英语1班", "商务英语2班", "商务英语3班",
                        "法语1班", "法语2班", "法语3班",
                        "德语1班", "德语2班", "德语3班"
                    ];
                    break;

                case "商务学院":
                    var specialties = [
                        "人力资源管理1班", "人力资源管理2班", "人力资源管理3班",
                        "工商管理1班", "工商管理2班", "工商管理3班",
                        "市场营销1班", "市场营销2班", "市场营销3班",
                        "会展经济与管理1班", "会展经济与管理2班", "会展经济与管理3班"
                    ];
                    break;

                case "基础科学学院":
                    var specialties = [
                        "汉语言文学1班", "汉语言文学2班", "汉语言文学3班",
                        "数学与应用数学1班", "数学与应用数学2班", "数学与应用数学3班",
                        "新闻学1班", "新闻学2班", "新闻学3班"
                    ];
                    break;

                case "体育学院":
                    var specialties = [
                        "运动训练1班", "运动训练2班", "运动训练3班",
                        "体育教育1班", "体育教育2班", "体育教育3班",
                        "社会体育指导与管理1班", "社会体育指导与管理2班", "社会体育指导与管理3班"
                    ];
                    break;
                default:
                    var specialties = [];
            }

            // 添加专业班级选项
            for (var i = 0; i < specialties.length; i++) {
                var option = document.createElement("option");
                option.text = specialties[i];
                option.value = specialties[i];
                specialtySelect.add(option);
            }
        }



    </script>
</head>

<body>
    <div class="container">
        <div class="header">
            <span class="left">汉 东 大 学 学 生 信 息 管 理 系 统</span>
            <span class="right">你 好，{{user_info}}管 理 员!</span>
            <span class="right_right"><a href="/">退出登陆</a></span>
        </div>
        <div class="leftside">
        <ul>
            <li><a href="/student_view">学生信息查询</a></li>
            <li><a href="/student">学生信息录入</a></li>
            <li class="first"><a href ="">学生信息修改</a></li>
            <li><a href="/teacher_class">老师开设课程查看</a></li>
            <li><a href="/student_courses">学生选课管理</a></li>
            <li><a href="/score_infos">学生成绩</a></li>
            <li><a href="/graduation">毕业学生去向</a></li>
            <li><a href="/dataAnalysis">数据分析</a></li>
            <li><a href="/adminstator">系统管理员变动</a></li>
        </ul>
        </div>
        <div class="container-fluid">
            <h1 class="sub-header center">学 生 信 息 修 改 系 统</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <form action="" method="post" onsubmit="return handleSubmit()">
                        <thead>
                            <tr>
                                <th>学号</th>
                                <th>学院</th>
                                <th>年级</th>
                                <th>专业班级</th>
                                <th>操作</th> <!-- 新增操作列 -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="long" name="stu_id" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <select id="schoolSelect" name="stu_school" onchange="changeSpecialty()">
                                        <!-- 学院选项 -->
                                        <option value="">不限</option>
                                        <option value="计算机与信息工程学院">计算机与信息工程学院</option>
                                        <option value="管理学院">管理学院</option>
                                        <option value="会计学院">会计学院</option>
                                        <option value="财政与公共管理学院">财政与公共管理学院</option>
                                        <option value="药学院">药学院</option>
                                        <option value="食品工程学院">食品工程学院</option>
                                        <option value="能源与建筑工程学院">能源与建筑工程学院</option>
                                        <option value="金融学院">金融学院</option>
                                        <option value="设计艺术学院">设计艺术学院</option>
                                        <option value="轻工学院">轻工学院</option>
                                        <option value="经济学院">经济学院</option>
                                        <option value="外语学院">外语学院</option>
                                        <option value="商务学院">商务学院</option>
                                        <option value="基础科学学院">基础科学学院</option>
                                        <option value="体育学院">体育学院</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="stu_grade">
                                        <option value="">不限</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="specialtySelect" name="stu_specialtyWithClass">
                                        <option value="">不限</option>
                                        <!-- 专业班级选项 -->
                                    </select>
                                </td>
                                <td><input class="last" type="submit" value="查询" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </tbody>
                    </form>
                    <!-- 查询结果展示 -->
                    {% if query_conditions or query_results %}
                    <table class="table table-striped student-table">
                        <!-- 表头 -->
                        <thead>
                            <tr>
                                <th style="width: 9%;">学号</th>
                                <th style="width: 6%;">姓名</th>
                                <th style="width: 4%;">性别</th>
                                <th style="width: 4%;">年龄</th>
                                <th style="width: 6%;">年级</th>
                                <th style="width: 15%;">学院</th>
                                <th style="width: 15%;">专业班级</th>
                                <th style="width: 8%;">出生日期</th>
                                <th style="width: 18%;">户籍</th>
                                <th style="width: 12%;">操作</th>
                            </tr>
                        </thead>
                        <!-- 查询结果 -->
                        {% if query_conditions %}
                        <!-- 查询条件展示 -->
                        <p style="font-weight: bold;">查询条件：</p>
                        <ul>
                            {% for condition in query_conditions %}
                            <li>{{ condition }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!-- 查询结果展示 -->
                        {% if query_results %}
                        <p></p>
                        <p style="color: red; font-weight: bold;">一共输出了{{ query_results|length }}条符合条件的数据</p>
                        <!-- 遍历查询结果 -->
                        {% for result in query_results %}
                        <tr>
                            <!-- 列数据 -->
                            <td>{{ result[0] }}</td>
                            <td>{{ result[1] }}</td>
                            <td>{{ result[2] }}</td>
                            <td>{{ result[3] }}</td>
                            <td>{{ result[4] }}</td>
                            <td>{{ result[5] }}</td>
                            <td>{{ result[6] }}</td>
                            <td>{{ result[7] }}</td>
                            <td>{{ result[8] }}</td>
                            <td>
                                <!-- 修改按钮 -->
                                <form action="/modify_student" method="get" style="display: inline-block; margin-right: 5px;">
                                    <input type="hidden" name="stu_id" value="{{ result[0] }}">
                                    <input type="submit" value="修改" class="btn-modify">
                                </form>
                                <!-- 删除按钮 -->
                                <form action="/delete_student" method="get" style="display: inline-block;">
                                    <input type="hidden" name="stu_id" value="{{ result[0] }}">
                                    <input type="submit" value="删除" class="btn-delete">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <!-- 如果查询结果为空 -->
                        <p style="color: red; font-weight: bold;">抱歉，系统中没有找到符合您要求的结果！</p>
                        {% endif %}
                    </table>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</body>

</html>